---
layout: homepage
author_profile: true
header:
  image: /assets/images/collage-m3.jpg


feature_row:
  - image_path: "http://covers.openlibrary.org/b/olid/OL19977344M-L.jpg?default=false"
    alt: "Fermat's Last Theorem"
    title: "Fermat's Last Theorem"
    excerpt: "The story of a riddle that counfounded the world's greatest minds for 358 years"
    url: "fermat-s-last-theorem/"
    btn_class: "btn--primary"
    btn_label: "Go"
  - image_path: "http://covers.openlibrary.org/b/isbn/9781846685323-L.jpg?default=false"
    alt: "17 Equations"
    title: "17 Equations that changed the world"
    excerpt: "Two sets of numbers and symbols separated by an equals signs can [...] reveal the laws of nature and unlock the secrets of the universe"
    url: "#"
    btn_class: "btn--primary"
    btn_label: "Learn"
  - image_path: "/assets/covers/9781786492975.jpg"
    alt: "Infinite Powers"
    title: "Infinite Powers"
    excerpt: "The story of Calculus, the language of the Universe"
    url: "/infinite-powers/"
    btn_class: "btn--primary"
    btn_label: "Explore"     
---

{% include feature_row %}

aaaaaaaaaaaaaaaaaaaaaa
<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Books" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts  %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

