---
layout: default
---

{% if page.title %}
    <h1 class="page-heading">{{ page.title }}</h1>
{% endif %}

{{ content }}

{% assign books=site.books %}
{% if books.size > 0 %}
    <h2 class="post-list-heading">{{ page.list_title | default: "Latest reviews" }}</h2>
    <ul class="post-list">
        {% for book in books reversed %}
            <li>
                <span class="post-meta"><time datetime="{{ book.date | date_to_xmlschema }}">{{ book.date | date_to_long_string }}</time></span>
                <h3>
                    <a class="post-link" href="{{ book.url | relative_url }}">{{ book.title }} — {{ book.author }}</a>
                </h3>
                 T: {{ book.tags }} 
                 --
                 {%  for tag in books.tags %}
                    <a href="{{ book.title }}">{{ book.tag }}GRR</a></br>
                 {% endfor %}
            </li>
        {% endfor %}
    </ul>
{% endif %}
Why not 
{% assign books=site.books %}
From books: {{ books.tags }}
From page: {{ page.tags }}
<!--
    <ul class="tags">
       {%  for tag in books.tags %}
  {% assign tag_slug = tag | slugify: "raw" %}
    <li>
        <a class="tag-link" href={{ site.baseurl | append: "/tags/" | append: tag_slug | append: "/" }}rel="category tag">
    #{{tag}}</a>
    </li>
    {% endfor %}
    </ul>
    
----
New:
{% for books in site.books %}
  <h2>
    <a href="{{ book.title }}">
      {{ books.tags }}
    </a>
  </h2>
  <p>{{ books.content | markdownify }}</p>
{% endfor %}

-->
