---
layout: archive

---

{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Spotlight" }}</h3>



{% assign my-posts = site.posts | where: "hp", "1" %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in my-posts %}
    {% include homepage-single.html type=entries_layout %}
  {% endfor %}
</div>

<div>
<h3 class="archive__subtitle">Calculus & Maths</h3>
{% include feature_row %}
</div>